body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fef2d3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-tab {
    @apply font-sans border-x-[15px] border-b-[35px] border-solid	border-x-transparent rounded-t-3xl h-0 w-[120px]  leading-9 relative;
  }
  .grid-head {
    @apply grid grid-cols-8 p-4;
  }
  .grid-content {
    @apply font-bold;
  }
  .div-folder {
    @apply bg-yellow p-[40px] rounded-lg shadow-lg;
  }
}

@font-face {
  font-family: 'RixInooAriDuriR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
